.orangeButton {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    border: 1px solid rgb(250, 186, 0);
    background-color: rgb(250, 186, 0);
    transition: .4s;

    &:hover {
        background-color: rgba(255, 166, 0, 0);
        color: rgb(250, 186, 0);
        cursor: pointer;
    }
}