.whiteButton {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(250, 186, 0);
    border: 1px solid rgb(250, 186, 0);
    background-color: white;
    transition: .4s;

    &:hover {
        background-color: rgb(250, 186, 0);
        color: white;
        cursor: pointer;
    }
}